*{
    font-family: sans-serif;
}

nav{
    display: flex;
}
.logo{
    padding-left: 20px;
}
li{
    display: inline-block;
    list-style: none;
}
.menu{
    width: 75%;
}

i{
    display: none;
}
li a{
    text-decoration: none;
    padding: 20px;
    color: grey;
}
.sub-menu{
    margin-top: 1rem;
}

.button1{
    border: none;
    color: black;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.button2{
    border: 1px solid #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    background: #000;
}
.hero{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.hero-txt{
    padding-left: 9rem;
}

.hero-txt h1{
    font-size: 4rem;
}
.hero-txt p{
    font-size: 1.5rem;
    position: relative;
}
.hero .left{
    text-align: start;
}
.hero-button{
    padding: 10px 20px;
    color: #fff;
    background: #000;
    position: relative;
    border: none;
}

figure{
    padding-right: 7.7rem;
}

@media screen and (max-width: 700px) {
    .menu li{
        display: none;
    }
    .sub-menu{
        display: none;
    }

    .hero{
        display: flex;
        flex-direction: column;
    }

        
    .hero-txt{
        padding-left: 0;
        font-size: 1rem;
        text-align: center;
    }

    .hero-txt h1{
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }

    .hero-txt p{
        font-size: 1rem;
        position: relative;
        text-align: center;
    }

    figure img{
        padding-right: 0;
        text-align: center;
        width: 300px;
        height: 300px;
    }

    .logo{
        padding-left: 0;
    }

    .ri-menu-line{
        display: flex;
        padding-top: 15px;
    }

}